@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #331f1d;
  --primary-light: #d7356d;
  --light: #fff;
}

body {
  margin: 0;
}

@font-face {
  font-family: "ItalianOldStyle";
  src: url(/assets/fonts/Italian-Old-Style-MT-W04-Rg.ttf) format("truetype");
}
